# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Node/React
node_modules/
dist/
build/
.eslintcache

# ML Models / Large weights
*.pt
*.onnx
*.engine
!ml_models/yolo/best.pt

backend/uploads/
backend/.test_pix2tex_stub/model